@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 html {
    font-size: 62.5%
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


main {
    display: flex;
    width: 92rem;

}


section{
padding: 4.8rem;
}



section img {
    margin-bottom: 3.5rem;

}


 section h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--very-light-gray);
    margin-bottom: 2.5rem;
}


section p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem; 
    color: #FFF;
    opacity: 0.75;
    line-height: 2.5rem;
    margin-bottom: 8.2rem;
}

section a {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    border: 0.2px solid var(--very-light-gray);
    padding: 1.2rem 3rem;
    background: var(--very-light-gray);
    border-radius: 2.5rem;
}

section a:hover {
    background: transparent;
    color: var(--very-light-gray);
}

:root {
    --bright-orange: #e38826;
    --dark-cyan: #006970;
    --very-dark-cyan: #004241;
    --very-light-gray: #f2f2f2;
}

.Sedans {
    background: var(--bright-orange);
    border-radius:0.8rem 0 0 0.8rem;
}



.Sedans a {
    color: var(--bright-orange);
}


.Suvs{
    background:var(--dark-cyan);
}

.Suvs a {
   color: var(--dark-cyan);
}
.Luxury {
    background: var(--very-dark-cyan);
    border-radius: 0 0.8rem 0.8rem 0;
}

.Luxury a {
    color: var(--very-dark-cyan);
}


/*1 rem equivale 16px = 100%*/

/*1 rem => 10 = 62.5%*/

/*trabalha nas cores e cores do h2*/


/*importar fontes do google*/


/*mudar o tamanho e a cor do paragráfo*/


/*definir o tamanho do main*/


/*colocar as imagens uma do lado da outra*/


/*margin entre os elementos*/


/*justify -content center alinha na horizontal */

/*align items alinha na vertical*/
